<%= form_for [:admin, @vehicle], remote: true do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= f.label t(".name") %>
  <%= f.text_field :name, class: "form-control" %>
  
  <%= f.label t(".category") %>
  <div class = "selection">
    <%= f.collection_select :category_id, @categories, :id, :name %>
  </div>

  <%= f.label t(".branch") %>
  <div class = "selection">
    <%= f.collection_select :branch_id, @branchs, :id, :name %>
  </div>

  <%= f.label t(".quantity") %>
  <%= f.number_field :quantity, class: "form-control", min: Settings.min_time %>

  <%= f.label t(".description") %>
  <%= f.text_field :description, class: "form-control" %>

  <%= f.label t(".price") %>
  <%= f.number_field :price, class: "form-control", min: Settings.min_time %>

  <span class="picture">
    <%= f.file_field :picture, accept: Settings.accept_image %>
  </span>

  <h3><%= t ".service" %></h3>
  <div id="tasks">
    <%= f.fields_for :services do |service| %>
      <%= render "service_fields", f: service %>
    <% end %>
    <div class="links">
      <%= link_to_add_association t(".add"), f, :services, class: "btn btn-primary" %>
    </div>
  </div>

  <%= f.submit t(".submit"), class: "btn btn-primary btn-lg" %>
<% end %>
